# python file
.python-version
*/__pycache__/*
*/__marimo__/*
__marimo__/
*/*.egg-info/*
.DS_Store
*/.DS_Store

# data
data/*
*/eccc_data/*
*/prediction_data/*
*/error_data/*

# slurm output files
*.out

# figures
*.png